<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-10 align-self-end">

            </div>
            <div class="col">
                <span class="text-muted text-center">&copy; YelpCamp 2020</span>
            </div>
        </div>
    </div>
</footer>